.form-horizontal .checkbox-inline,
.form-horizontal .radio-inline {
    padding-top: 0;
    margin-top: 10px;
}

form.search-form .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.checkbox-div,
.radio-div {
    min-height: 33px;
}

.tabl .checkbox-div,
.tabl .radio-div {
    min-height: 30px;
}

.vertical-middle,
.table>tbody>tr>td.vertical-middle {
    vertical-align: middle;
}

.vertical-top,
.table>tbody>tr>td.vertical-top {
    vertical-align: top;
}

.vertical-bottom,
.table>tbody>tr>td.vertical-bottom {
    vertical-align: bottom;
}

.field-raw,
.field-show {
    min-height: 33px;
    line-height: 33px;
}

.table .field-raw,
.table .field-show {
    min-height: 30px;
    line-height: 30px;
}

.field-required {
    color: red;
}

span.select2-container {
    min-width: 100%;
}

form .form-control {
    height: 33px;
}

.table .form-control {
    height: 30px;
}

form textarea.form-control,
.table textarea.form-control {
    height: auto;
}

.table>tbody>tr>td {
    padding: 5px;
    line-height: 1.42857143;
    word-wrap: break-word;
}

.table .table-checkbox label.lyear-checkbox {
    padding: 0;
}

.table .table-checkbox {
    width: 30px;
    margin-left: 10px;
    padding: 5px;
    vertical-align: middle;
}

.has-error .select2 span.select2-selection {
    border-color: #f96868 !important;
}

.select2-container .select2-selection {
    height: 33px;
}

.select2-container .select2-selection .select2-selection__rendered {
    line-height: 33px;
}

.table .select2-container .select2-selection {
    height: 30px;
}

.table .select2-container .select2-selection .select2-selection__rendered {
    line-height: 33px;
}